<ion-view view-title="Map Navigation">
  <ion-content>


    <!-- 
    <div class="c-compass">{{msg | json}}</div>
    -->
    

    <div class="c-map__canvas" id="map_canvas">
      
      <div class="c-buttons">
        <div class="bt-square"><i class="fa fa-plus" ng-click="zoomIn();"></i></div>
        <div class="bt-square"><i class="fa fa-minus" ng-click="zoomOut();"></i></div>
        <div class="bt-square" ng-class="{'active' : settings.followGPS}"><i class="fa fa-map-marker" ng-click="centerMap();"></i></div>
        <div class="bt-square" ng-class="{'active' : settings.rotateMap}"><i class="fa fa-compass" ng-click="rotateMap();"></i></div>
      </div>

    </div>

  </ion-content>
</ion-view>
