<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eralha.gpxviewer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GPX VIEWER</name>
    <description>
        GPX Viewer by eralha
    </description>
    <author email="emaralha@yahoo.com" href="http://yahoo.com/">
      Emanuel Ralha
    </author>
    <content src="index.html" />

    <access origin="*" />
    

    <preference name="permissions" value="none" />
    <preference name='phonegap-version' value='cli-6.3.0' />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />

    <!-- ANDROID -->
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <!-- IOS -->
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="target-device" value="handset" />
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="AndroidLaunchMode" value="singleTask"/>

    
    <!-- Ionic supports Android Jellybean and up --> 
    <preference name="android-minSdkVersion" value="16" />

    <gap:plugin spec="https://github.com/mapsplugin/cordova-plugin-googlemaps" source="git">
        <param name="API_KEY_FOR_ANDROID" value="AIzaSyAYR2MKAXqIXE3gxVZ2MqJo4h3PPpI5PkQ" />
    </gap:plugin>


    <plugin name="org.apache.cordova.device-orientation" spec="https://github.com/apache/cordova-plugin-device-orientation" source="git" />
    <plugin name="org.apache.cordova.geolocation" spec="https://github.com/apache/cordova-plugin-geolocation" source="git" />
    <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="https://github.com/Indigoway/cordova-plugin-whitelist" source="git" />

    <plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />

    <plugin name="org.apache.cordova.file" spec="https://github.com/apache/cordova-plugin-file" source="git" />
    <plugin name="com.napolitano.cordova.plugin.intent" spec="https://github.com/napolitano/cordova-plugin-intent" source="git" />


    <!-- Locate the android platform -->
    <platform name="android">
        

        <config-file target="AndroidManifest.xml" parent="./application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.SEND" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
        </config-file>
    </platform>


</widget>



