/* Empty. Add your own CSS if you like */


.c-map__canvas {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #f00;
}

.c-compass {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 50px;
	font-size: 12px;
	background-color: #000;
	color: #fff;
}